n8n/Learning/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        0
      ],
      "id": "1c8e99c5-ea06-426c-b35f-0d3d27b901db",
      "name": "Schedule Trigger",
      "notesInFlow": true
    },
    {
      "parameters": {
        "resource": "donkiSolarFlare",
        "additionalFields": {
          "startDate": "={{ $today.minus(7, 'days') }}"
        }
      },
      "type": "n8n-nodes-base.nasa",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "979e8ff7-3387-4856-af94-a964354bed1f",
      "name": "Get a DONKI solar flare",
      "credentials": {
        "nasaApi": {
          "id": "4zMLSpNZUVQTMHMV",
          "name": "NASA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "036b9f8c-c52d-4182-ae2f-8f4b1acfdcf9",
              "leftValue": "={{ $json.classType }}",
              "rightValue": "C",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        0
      ],
      "id": "9448ec6c-3fd4-447f-b252-5d108f84d5b3",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1755772030411-0625295620411",
        "binContent": "=There was a solar flare of class {{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        320,
        -96
      ],
      "id": "265f0393-ed4a-4200-87d9-0ac754f824ba",
      "name": "Send a request"
    },
    {
      "parameters": {
        "resource": "request",
        "operation": "send",
        "binId": "1755772030411-0625295620411",
        "binContent": "=There was a solar flare of class {{ $json.classType }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.postBin",
      "typeVersion": 1,
      "position": [
        320,
        96
      ],
      "id": "4ea2fad2-f99f-4825-bbe0-56aea28d1f8a",
      "name": "Send a request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a DONKI solar flare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a DONKI solar flare": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "34463c94-b7f3-47a0-9b61-1881ce83409f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bca561a61a9870d4761b49255436c8bb5ac4e50c6f5b6ace54b93132be524d62"
  },
  "id": "YG2thjRZsCmMZnWx",
  "tags": []
}