n8n/Candidate Scheduled Appointment.json
{
  "name": "Candidate Scheduled Appointment",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "events": [
          "invitee.created"
        ]
      },
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9beb62bd-3c17-401a-b992-fee59ea21b5d",
      "name": "Calendly Trigger",
      "webhookId": "d71c23d3-f044-4504-82a5-d20fb0405fd6",
      "credentials": {
        "calendlyOAuth2Api": {
          "id": "hQqtMnbyzlFeMXLB",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appni7Lgyrk5sjLXY",
          "mode": "list",
          "cachedResultName": "Candidate Tracker",
          "cachedResultUrl": "https://airtable.com/appni7Lgyrk5sjLXY"
        },
        "table": {
          "__rl": true,
          "value": "tblZbvFHR0vV2pPCd",
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "https://airtable.com/appni7Lgyrk5sjLXY/tblZbvFHR0vV2pPCd"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $json.payload.name }}",
            "Email": "={{ $json.payload.email }}",
            "Interview Time": "={{ $json.payload.scheduled_event.start_time }}",
            "token": "={{ $json.token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interview Time",
              "displayName": "Interview Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interview Content",
              "displayName": "Interview Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interview Analysis",
              "displayName": "Interview Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Action",
              "displayName": "Next Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Days Until Interview",
              "displayName": "Days Until Interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Interview Weekday",
              "displayName": "Interview Weekday",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Interview Content Summary",
              "displayName": "Interview Content Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Action Recommendation",
              "displayName": "Next Action Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "45f37215-bdd6-4168-bd3d-370688417b63",
      "name": "Create a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "bxitoxjpl2EFWCi1",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "token",
        "encodingType": "hex",
        "stringLength": 16
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "8cea98f0-f4af-4de8-86f2-6a49cd008142",
      "name": "Crypto"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Calendly Trigger').item.json.payload.email }}",
        "subject": "Your Interview link",
        "message": "=Hello {{ $('Calendly Trigger').item.json.payload.name .split(' ')[0]}}! \n\nYour interview has been scheduled for:\n📅 {{ DateTime.fromISO($('Calendly Trigger').item.json.payload.scheduled_event.start_time).toFormat(\"cccc, LLLL d, yyyy 'at' h:mm a\") }}\n🎤 Join your voice interview here:\nhttps://hpettitt.github.io/WebCallTest/index.html?token={{ $('Create a record').item.json.fields.token }}\n\nThis link is unique to you and will only work at your scheduled time.\n\nSee you soon!\n\n\nRegards,\n\nVanessa\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        896,
        0
      ],
      "id": "18e5411c-12f4-4735-9c0d-b81a869e40e2",
      "name": "Send a message",
      "webhookId": "c9566ada-b93d-410c-ae33-2e4f7c72ead7",
      "credentials": {
        "gmailOAuth2": {
          "id": "oAtui25kD2Xa8Rnh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.fields[\"Interview Time\"] }}",
        "format": "=HH:mm dd MMMM,yyyy",
        "outputFieldName": "AppointmentDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "92f8198d-c376-4983-a184-454ddeba8131",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "id": "b57e9a58-b4cf-4a84-8c2d-7d50c2b7a482",
      "name": "Webhook",
      "webhookId": "7f4093f8-c5d3-4738-9a2d-606e9633d2e7"
    },
    {
      "parameters": {
        "jsCode": "// Keep everything we got from Vapi, plus a best-effort transcript\nconst b = $json;\n\n// Try common shapes\nlet transcript = '';\nif (typeof b.transcript === 'string') {\n  transcript = b.transcript;\n} else if (b.payload?.transcript) {\n  transcript = b.payload.transcript;\n} else if (Array.isArray(b.messages)) {\n  transcript = b.messages.map(m => {\n    const role = m.role || m.speaker || 'unknown';\n    // content can be string or array-of-blocks\n    let text = '';\n    if (typeof m.content === 'string') text = m.content;\n    else if (Array.isArray(m.content)) text = m.content.map(c => c.text || c.value || '').join(' ');\n    return `${role}: ${text}`.trim();\n  }).filter(Boolean).join('\\n');\n} else if (Array.isArray(b.conversation)) {\n  transcript = b.conversation.map(x => `${x.role||'unknown'}: ${x.text||''}`.trim()).join('\\n');\n}\n\nreturn {\n  eventType: b.event || b.type || null,\n  transcript: transcript || '[No transcript field present]',\n  raw: b\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        224
      ],
      "id": "95427ff4-28ba-42d5-a928-b93206ec8c92",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an interview summarizer. Produce a crisp client-ready report that gives details about the interview such as experience, availability, demeanor, and methods used for handling children.:\nYou are an extractive summarizer. Use ONLY facts stated in the transcript.\nNever infer or round numbers. If a fact is missing or unclear, write \"unknown\".\nFor any numeric claim, include the exact quote it came from in (quotes).\nReturn two sections:\n1) FACTS — bullet list of ONLY verifiable facts with quotes for any numbers.\n2) SUMMARY — short, neutral recap with NO new facts beyond FACTS.\n\n- Title: “Interview Summary — Demo”\n- Key Points: 5–8 bullets\n- Action Items (if any): bullets with owners (Candidate/Interviewer)\n- Risks/Concerns: bullets\n- Call Stats: duration, startedAt–endedAt, caller\nKeep it factual; no embellishment. Transcript follows:\n---\nBelow is the data from the voice interview. Please review the conversation with the voice agent and the candidate. Do not emellish the content but summarise the interview objectively.\n{{ $json.raw.body.message }}\nList future actions\nList things to watch with the candidate\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        448,
        224
      ],
      "id": "45335688-ff58-4de4-ba5f-1fbaf1e1d7bb",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "6ZlB0Ndmcn9GgxIh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "html": "<h2>Interview Summary — Demo</h2>\n<p><strong>Caller:</strong> 'Candidate Name'</p>\n<p><strong>Time:</strong> {{ $('Webhook').item.json.body.message.timestamp }}{{ $('Webhook').item.json.body.message.artifact.messages[2].metadata.wordLevelConfidence[0].start }} → {{ $('Webhook').item.json.body.message.artifact.messages[2].metadata.wordLevelConfidence[0].end }} ({{ $('Webhook').item.json.body.message.artifact.messages[2].duration }}s)</p>\n<hr/>\n<pre style=\"white-space: pre-wrap; font-family: system-ui;\">{{ $json.message.content }}</pre>\n\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        800,
        224
      ],
      "id": "9a3f2432-fd1f-4fee-b479-0fc84520f5b8",
      "name": "HTML"
    },
    {
      "parameters": {
        "sendTo": "hugh@xenergies.com",
        "subject": "Interview Summary",
        "message": "={{ $json.html }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        224
      ],
      "id": "5239479f-26ee-41db-b283-4a9f227cff36",
      "name": "Send a message1",
      "webhookId": "f4f5b288-d0a1-4fd8-8403-3983c7e9a405",
      "credentials": {
        "gmailOAuth2": {
          "id": "oAtui25kD2Xa8Rnh",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98d2d2e7-5edc-419c-8f39-560497d5391e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bca561a61a9870d4761b49255436c8bb5ac4e50c6f5b6ace54b93132be524d62"
  },
  "id": "9b8bc5sQCaSqIvjT",
  "tags": []
}