n8n/old/Candidate Scheduled Appointment-QWEN.json
{
  "name": "Candidate Scheduled Appointment-QWEN",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "events": [
          "invitee.created"
        ]
      },
      "type": "n8n-nodes-base.calendlyTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8e173881-9cd1-4ff9-8982-5b3d7be7b47c",
      "name": "Calendly Trigger",
      "webhookId": "d71c23d3-f044-4504-82a5-d20fb0405fd6",
      "credentials": {
        "calendlyOAuth2Api": {
          "id": "hQqtMnbyzlFeMXLB",
          "name": "Calendly account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appni7Lgyrk5sjLXY",
          "mode": "list",
          "cachedResultName": "Candidate Tracker",
          "cachedResultUrl": "https://airtable.com/appni7Lgyrk5sjLXY"
        },
        "table": {
          "__rl": true,
          "value": "tblZbvFHR0vV2pPCd",
          "mode": "list",
          "cachedResultName": "Candidates",
          "cachedResultUrl": "https://airtable.com/appni7Lgyrk5sjLXY/tblZbvFHR0vV2pPCd"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate Name": "={{ $json.payload.name }}",
            "Email": "={{ $json.payload.email }}",
            "Interview Time": "={{ $json.payload.scheduled_event.start_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "type": "string"
            },
            {
              "id": "Email",
              "displayName": "Email",
              "type": "string"
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "type": "array"
            },
            {
              "id": "Interview Time",
              "displayName": "Interview Time",
              "type": "dateTime"
            },
            {
              "id": "Interview Content",
              "displayName": "Interview Content",
              "type": "string"
            },
            {
              "id": "Interview Analysis",
              "displayName": "Interview Analysis",
              "type": "string"
            },
            {
              "id": "Next Action",
              "displayName": "Next Action",
              "type": "string"
            },
            {
              "id": "Interview Content Summary",
              "displayName": "Interview Content Summary",
              "type": "string"
            },
            {
              "id": "Next Action Recommendation",
              "displayName": "Next Action Recommendation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "6a6a8fa6-af08-4aa1-b5b5-23de947365ba",
      "name": "Create a record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "bxitoxjpl2EFWCi1",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "044a0643-8d34-4259-b1fb-2b7f3a321563",
      "name": "Generate Token"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appni7Lgyrk5sjLXY",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblZbvFHR0vV2pPCd",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Interview Content": "={{ 'https://hpettitt.github.io/WebCallTest?token=' + $input.json.token }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Candidate Name",
              "displayName": "Candidate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Photo",
              "displayName": "Photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interview Time",
              "displayName": "Interview Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interview Content",
              "displayName": "Interview Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Interview Analysis",
              "displayName": "Interview Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Action",
              "displayName": "Next Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Days Until Interview",
              "displayName": "Days Until Interview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Interview Weekday",
              "displayName": "Interview Weekday",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Interview Content Summary",
              "displayName": "Interview Content Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Next Action Recommendation",
              "displayName": "Next Action Recommendation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        608,
        0
      ],
      "id": "a64f7a68-a007-4498-8bd9-9c95548ea279",
      "name": "Store Vapi Link in Airtable",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "bxitoxjpl2EFWCi1",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "subject": "Your Interview Link",
        "text": "Hi {{ $input.previousNode('Create a record').json.fields['Candidate Name'] }},\n\nClick here to join your scheduled interview:\n{{ $input.previousNode('Store Vapi Link in Airtable').json.fields['Interview Content'] }}\n\nSee you soon!",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "855af934-407f-4372-a127-97b93740189e",
      "name": "Send Interview Link Email",
      "webhookId": "b7d7d9e2-fcab-40d7-b3f9-af54868de41e"
    },
    {
      "parameters": {
        "path": "webhook/vapi-call-end",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "id": "f00e5182-036a-4dd4-94dc-4a5a2dd0d9c9",
      "name": "Vapi Webhook",
      "webhookId": "987b2a2e-9126-4b26-8de1-d40db4f6cb81"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $input.json.event }}",
              "operation": "equal",
              "value2": "call:end"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        304
      ],
      "id": "6a0ee99a-8166-4dee-815d-a34a88670f5d",
      "name": "Filter: Call End"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "read",
        "base": {
          "__rl": true,
          "value": "appni7Lgyrk5sjLXY",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblZbvFHR0vV2pPCd",
          "mode": "list"
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        400,
        304
      ],
      "id": "df211c35-7bec-4824-8cf6-97dd85802176",
      "name": "Find Airtable Record",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "bxitoxjpl2EFWCi1",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        608,
        304
      ],
      "id": "45b38887-3471-49c4-adda-bd814331b462",
      "name": "Time-Window Validation"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.openAiChat",
      "typeVersion": 3,
      "position": [
        800,
        304
      ],
      "id": "19efae99-08ef-4fc6-976b-eb8a8cdaf9ed",
      "name": "LLM Analysis"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ],
      "id": "3ee44e76-778f-4df9-b61a-8499123d89fd",
      "name": "Parse LLM Response"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appni7Lgyrk5sjLXY",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "tblZbvFHR0vV2pPCd",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Interview Analysis": "={{ $input.json.rating }}",
            "Interview Content Summary": "={{ $input.json.llmResponse }}",
            "Next Action Recommendation": "Follow up with candidate based on interview outcome."
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1200,
        304
      ],
      "id": "6c4ecf96-7d01-4fd9-a83a-36c5c7eea974",
      "name": "Update Airtable with Analysis",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "bxitoxjpl2EFWCi1",
          "name": "Airtable account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendly Trigger": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Vapi Link in Airtable": {
      "main": [
        [
          {
            "node": "Send Interview Link Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Webhook": {
      "main": [
        [
          {
            "node": "Filter: Call End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Call End": {
      "main": [
        [
          {
            "node": "Find Airtable Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "957441aa-50a3-4f0e-a8dd-3ac47b69356d",
  "meta": {
    "instanceId": "bca561a61a9870d4761b49255436c8bb5ac4e50c6f5b6ace54b93132be524d62"
  },
  "id": "VTLeqZquGYjEDLx7",
  "tags": []
}